.register-page {
    -ms-flex-align: center;
    align-items: center;
    background: #e9ecef;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.register-box {
    width: 360px;
}

.login-logo, .register-logo {
    font-size: 2.1rem;
    font-weight: 300;
    margin-bottom: .9rem;
    text-align: center;
}
.login-box-msg, .register-box-msg {
    margin: 0;
    padding: 0 20px 20px;
    text-align: center;
}

.card {
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    margin-bottom: 1rem;

    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.register-card-body {
    background: #fff;
    border-top: 0;
    color: #666;
    padding: 20px;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}


.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}